Plug 'justinmk/vim-sneak'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence

set number
set relativenumber

set scrolloff=4

set clipboard+=unnamedplus

set hlsearch
set ignorecase
set incsearch
set smartcase

set visualbell

let mapleader=" "

imap jk <esc>

nmap n nzz
nmap N Nzz
nmap * *zz
nmap # #zz
nmap g* g*zz
nmap g# g#zz

nmap <esc> :nohl<cr>

nmap <leader>q :q<cr>
nmap <leader>w :w<cr>
nmap <leader>e :e<cr>

nmap <C-k> <C-w>k
nmap <C-j> <C-w>j
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l

nmap <leader>s <C-w>s
nmap <leader>v <C-w>v

vmap < <gv
vmap > >gv

nmap <leader>d "_d
vmap <leader>d "_d
xmap <leader>p "_dP

nmap <TAB> :action PreviousTab<CR>
nmap <S-TAB> :action NextTab<CR>

nmap [[ :action MethodUp<CR>
nmap ]] :action MethodDown<CR>

nmap <leader>= :action ReformatCode<CR>

nmap ]d :action GotoNextError<CR>
nmap [d :action GotoPreviousError<CR>

nmap <leader>lr :action FindUsages<CR>
nmap <leader>ld :action GotToDeclaration<CR>
nmap <leader>ls :action GotoSymbol<CR>

nmap <leader>ff :action GotoFile<CR>
